---
layout: page
title: 
#subtitle: This is where I will tell my friends way too much about me
use-site-title: true


---

<article role="main" class="blog-post">
        <p>I’m a PhD student at the <a href="https://brain.mpg.de/research/computation-in-neural-circuits-group.html">Computation in Neural Circiuts</a> group of Julijana Gjorgjieva at the <a href="http://brain.mpg.de/home.html">Max-Planck-Institute for Brain Research</a> in Frankfurt. I completed my <a href="http://www.mscneuro.uni-freiburg.de/">MSc Neuroscience</a> at the Bernstein Center for Computational Neuroscience in Freiburg while being a research assistant at the <a href="https://www.uniklinik-freiburg.de/fbi.html">Freiburg Brain Imaging</a> lab. Before that, I completed my <a href="https://www.ikw.uni-osnabrueck.de/en/home.html">BSc in Cognitive Science</a> at the University of Osnabrück in 2016.</p>

<p>My research interests include Computational Neuroscience, Machine Learning and Statistics. I’m particularly interested in the spontaneous firing behaviour of neurons in the developing brain and in machine learning assisted diagnostic analysis with brain imaging data of patients suffering from neurodegenerative diseases.</p>

<p>I wrote my bachelor thesis on <a href="https://arxiv.org/abs/1707.04648">Large Deviation Theory for Parameter Estimation in Simple Neuron Models</a>.</p>


</article>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
